<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/amr.neural/src/edu/uw/cs/lil/amr/neural/exp/AmrNeuralGenericExp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.uw.cs.lil.amr.neural.exp.AmrNeuralGenericExp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="amr.neural"/>
</launchConfiguration>
